@import url('https://fonts.googleapis.com/css2?family=Parkinsans:wght@300..800&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  color: var(--text-primary);
}

body {
  font-family: 'Parkinsans', sans-serif;
  background-color: var(--light);
  overflow-x: hidden;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.column {
  display: flex;
  flex-direction: column;
}