:root {
  --text-primary: #1C1A16;
  --text-secondary: #797a76;
  --regular-light: #b7e975;
  --regular-dark: #a0e447;
  --success: #2ec700;
  --info: #17a2b8;
  --warning: #ffc107;
  --danger: #dc3545;
  --light: #ebeee6;
}