:root {
  --text-primary: #1C1A16;
  --text-secondary: #636460;
  --regular-light: #1ce993;
  --regular-dark: #07a776;
  --success: #01BC6E;
  --info: #17a2b8;
  --warning: #ffc107;
  --error: #dc3545;
  --light: #ebeee6;
  --dark-blue: #1e2044;
}